{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="https://fonts.googleapis.com/css?family=Arvo|Bitter|Bree+Serif|Righteous|Special+Elite&display=swap" rel="stylesheet">
    <title>Set  Your Password</title>
  </head>
  <style>
    .reset{

    }
    .reset:hover{
    cursor: pointer;
    background-position: left bottom;
    
  }
  .main{
   
  }
  h2{
   
  }
  </style>
  <body>
    {% if roomscredentials %}
    
    <div class="main bg-white" style=" box-shadow: 0rem 0rem 16px rgba(0,0,0,0.20);background-color:#ffffff;">
      <h2 style=" font-weight: bold;
      font-family: bitter;
      color: #FFA500;">Hey, {{username}}</h2>
      <p style="font-weight: bold;font-family: bitter;">{{message}}</p>
  
     
     
      <br>
      <p style="color: forestgreen;font-weight: bold;">Thanks,<br />Gamersjam.com</p>
    </div>
    
    
    
    {% elif creaaccount %}
    <div class="main bg-white" style=" box-shadow: 0rem 0rem 16px rgba(0,0,0,0.20);background-color:#ffffff;">
      <h2 style=" font-weight: bold;
      font-family: bitter;
      color: #3C4257;">Hello ,{{firstname}}</h2>
      <p style="font-weight: bold;color: #eb648c;font-family: bitter;">Create My Account</p>
  
  <a href="{{link}}">

        <button class="reset" style="      color: #fafafa;
        font-weight: bold;
        font-family: Bitter;
        padding: 7px 20px 6px 20px;
        border: 0;
        outline: 0;
        border-radius: 2px;
        transition: 0.15s ease-in-out all;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
        background: #FFA500;
        ">
         Confirm
        </button>
      </a>
      <br>
      <span>
        If you did not made this request than simply ignore it
      </span>
      <br>
      <p style="color: forestgreen;font-weight: bold;">Thanks,<br />Gamersjam.com</p>
    </div>
    {% elif purpose %}

    <div class="main bg-white" style=" box-shadow: 0rem 0rem 16px rgba(0,0,0,0.20);background-color:#ffffff;">
      <h2 style=" font-weight: bold;
      font-family: bitter;
      color: #FFA500;">Hey, {{username}}</h2>
      <p style="font-weight: bold;font-family: bitter;">{{message}}</p>
  
     
     
      <br>
      <p style="color: forestgreen;font-weight: bold;">Thanks,<br />Gamersjam.com</p>
    </div>
    {% elif resetmypassword %}
    <div class="main bg-white" style=" box-shadow: 0rem 0rem 16px rgba(0,0,0,0.20);background-color:#ffffff;">
      <h2 style=" font-weight: bold;
      font-family: bitter;
      color: #3C4257;">Hello ,{{firstname}}</h2>
      <p style="font-weight: bold;color: #FFA500;font-family: bitter;">Password Reset Link</p>
  
  <a href="{{link}}">

        <button class="reset" style="      color: #fafafa;
        font-weight: bold;
        font-family: Bitter;
        padding: 7px 20px 6px 20px;
        border: 0;
        outline: 0;
        border-radius: 2px;
        transition: 0.15s ease-in-out all;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
        background: #FFA500;
        ">
         Reset Password
        </button>
      </a>
      <br>
      <span>
        If you did not made this request than simply ignore it
      </span>
      <br>
      <p style="color: forestgreen;font-weight: bold;">Thanks,<br />Gamersjam.com</p>
    </div>

 {% endif %}
  </body>
</html>