{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="https://fonts.googleapis.com/css?family=Arvo|Bitter|Bree+Serif|Righteous|Special+Elite&display=swap" rel="stylesheet">
    <title>Set  Your Password</title>
  </head>
  <style>
    .reset{

    }
    .reset:hover{
    cursor: pointer;
    background-position: left bottom;
    
  }
  .main{
   
  }
  h2{
   
  }
  </style>
  <body>
    {% if resetemail %}
    
    <div class="main bg-white" style=" box-shadow: 0rem 0rem 16px rgba(0,0,0,0.20);background-color:#ffffff;">
      <h2 style=" font-weight: bold;
      font-family: bitter;
      color: #3C4257;">Hello {{user}},</h2>
      <p style="font-weight: bold;color: #eb648c;font-family: bitter;">Change Your Email </p>
  
      <a href="{{links}}">
        <button class="reset" style="      color: #fafafa;
        font-weight: bold;
        font-family: Bitter;
        padding: 7px 20px 6px 20px;
        border: 0;
        outline: 0;
        border-radius: 2px;
        transition: 0.15s ease-in-out all;
        box-shadow: 0 3px 3px 0 rgba(216, 39, 39, 0.25);
        background: linear-gradient(to right,#FFA500 50%,#FFA502 50%);
        background-size: 200% 100%;
        background-position: right bottom;">
          Change My Email
        </button>
      </a>
      <br>
      <span>
        If you did not made this request than simply ignore it
      </span>
      <br>
      <p style="color: forestgreen;font-weight: bold;">Thanks,<br />GamersJam.com</p>
    </div>
    
    
    
    {% else %}
    <div class="main bg-white" style=" box-shadow: 0rem 0rem 16px rgba(0,0,0,0.20);background-color:#ffffff;">
      <h2 style=" font-weight: bold;
      font-family: bitter;
      color: #3C4257;">Hello {{user}},</h2>
      <p style="font-weight: bold;color: #eb648c;font-family: bitter;">Create My  GamersJam Account</p>
  
  <a href="{{links}}">

        <button class="reset" style="      color: #fafafa;
        font-weight: bold;
        font-family: Bitter;
        padding: 7px 20px 6px 20px;
        border: 0;
        outline: 0;
        border-radius: 2px;
        transition: 0.15s ease-in-out all;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
        background: linear-gradient(to right,#FFA500 50%,#FFA505 50%);
        background-size: 200% 100%;
        background-position: right bottom;">
         Confirm
        </button>
      </a>
      <br>
      <span>
        If you did not made this request than simply ignore it
      </span>
      <br>
      <p style="color: forestgreen;font-weight: bold;">Thanks,<br />GamersJam.com</p>
    </div>
 {% endif %}
  </body>
</html>