*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wave{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.rows{
    display: flex;
}

.columns{
    width: 50%;
    float: left;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.rightcolumn{
    padding-top: 2rem;
}


.avtar{
    width: 20rem;
    height: 20rem;
}

.avtar2{
    width: 10rem;
    height: 10rem;
}

.ddresshead{
    text-align: center;
}


.addressform{
    width: 100%;
    text-align: center;
}

.input-container{
 
    margin: 1rem;
    padding: 0.2rem 1rem;

    display: flex;
    border-bottom: 2px solid #FFA500;
}

.icondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFA500;
}


.inputdiv{
    width: 100%;
    text-align:initial;
    padding: 0.5rem;


}

.inputdiv input{
    width: 100%;
    height: 2.5rem;
    border: none;
    outline: none;
    background: transparent;
    font-family: Special elite, cursive;
    font-weight: bold;
}





.counrtylist{
    position: absolute;
    margin-top:-1rem;
    margin-left: 1rem;
    background: #FFFFFF;
    width: 20rem;
    height: 10rem;
    overflow-y: scroll;
    box-shadow: 0 0 16px rgba(0,0,0,0.4);
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

}

.contrylist{
    list-style: none;
    
}

.contrylist li{
    margin: 0.5 auto;
    font-weight: bold;
    font-family: bitter;
    padding: 0.8rem;
    border-bottom: 2px solid #eee;
    text-align:initial
}
.contrylist li::after{
    content: "";
    width: 100%;
    height: 1.5rem;
    background-color:#d6d6d6
}
.showcounrties{
    width: 20rem;
    height: 10rem;
    visibility: visible;

}
.Submit-btn{
    margin: 1rem auto;
    padding:1rem 2rem;
    border-radius: 1rem;
    background-color: #ffa500;
    color: #FFFFFF;
    font-family: bitter;
    font-weight: bold;
    BORDER: 1PX SOLID #FFFFFF;
    font-size: 1rem;
    
}

.Submit-btn:hover{
    background-color: #FFFFFF;
    Color: #FFA500;
    BORDER: 1PX SOLID #FFA500;
}

.ddresshead h2{
    font-weight: bold;
    font-family: Special elite, cursive;
}



@media screen and (max-width:600px){
    .rows{
        display:block;
        background: #FFFFFF;
        box-shadow: 0 0 16px saddlebrown;
        padding: 2rem 0.5rem;
        margin: 2rem 1rem;
    }
    .columns{
        width: 100%;
        float:none;
    }
    .columns{
        display:block;
    }
    .leftcolumn{
        text-align: center;
    }
    .avtar{
        width: 10rem;
        height: 10rem;
    }
    .rightcolumn{
        padding-top: 0;
    }
    

}

@media screen and (max-width: 330px){
 .counrtylist{
     width: 15rem;
 }

}