

  .horizontalloaders1{
    width: 50%;
    height: 10px;
    position: relative;
    border-radius:2rem;
    overflow: hidden !important;
    display: none;
    margin-bottom: 0.5rem;
    background-color: #eb648c;
    animation-name: examples;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  
  }

  @keyframes examples {
    0%   {background-color:#eb648c; left:0px; top:0px;}
    90%   {background-color:#eb648c; left:90%; top:0px;}
    100% {background-color:#eb648c; left:100%; top:0px;width: 10%;}
  }


  #img{
      width:32rem;
      height: 26rem;
  }

  .rightframe{
      background-color: orange;
  }


  .horizontalloaders2{
    width: 50%;
    height: 10px;
    position: relative;
    border-radius:2rem;
    overflow: hidden !important;
    display: none;
    margin-bottom: 0.5rem;
    background-color: #eb648c;
    animation-name: examples2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  
  }

  @keyframes examples2 {
    0%   {background-color:#eb648c; left:0px; top:0px;}
    90%   {background-color:#eb648c; left:90%; top:0px;}
    100% {background-color:#eb648c; left:100%; top:0px;width: 10%;}
  }

  .procedbutton button{
/* background-color: #eb648c; */
color: #fafafa;
font-weight: bold;
font-family: Bitter;
padding: 7px 20px 6px 20px;
border: 0;
outline: 0;
border-radius: 2px;
transition: 0.15s ease-in-out all;
box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
background: linear-gradient(to right,#eb648c 50%,hotpink 50%);
background-size: 200% 100%;
background-position: right bottom;
}

.procedbutton button:hover{
cursor: pointer;
background-position: left bottom;

}
.procedbutton{
  float: right;
  margin: 1rem 1rem 1rem;
}

.previous a button{

color: #fafafa;
font-weight: bold;
font-family: Bitter;
padding: 7px 20px 6px 20px;
border: 0;
outline: 0;
border-radius: 2px;
transition: 0.15s ease-in-out all;
box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
background: linear-gradient(to right,#eb648c 50%,hotpink 50%);
background-size: 200% 100%;
background-position: right bottom;

}

.previous a  button:hover{
cursor: pointer;
background-position: left bottom;

}
.previous{
  float: left;
  margin: 1rem 1rem 1rem;
}



@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
}

.containers{
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem 0;
 
}



.svg{
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 15px 0 25px;
    text-align: center;
    font-size: 30px;
}
input{
    color:#022255 !important;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=text]:focus{
    box-shadow: 0 0 5px rgba(246, 8, 110,0.8);
    border: 1px solid rgba(246, 8, 110,0.8);
}

.rightframe{
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.form-horizontal {
    width: 320px;
    background-color: #ffffff;
    padding: 25px 38px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    transition: all 0.5s  ease-in-out;
}

#validateForm2{
    width: 0;
    display: none;
}

#validateForm3{
    width: 0;
    display: none;
}
.control-label {
    text-align: left !important;
    padding-bottom: 4px;
}
.progress {
    height: 3px !important;
}
.form-group {
    margin-bottom: 10px;
}
.show-pass{
    position: absolute;
    top:5%;
    right: 8%;
}
.progress-bar-danger {
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}
.login-btn{
    width: 180px !important;
    background-image: linear-gradient(to right, #f6086e , #ff133a) !important;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 5px;
    padding: 8px 0; 
}
.login-btn:hover{
    background-image: linear-gradient(to right, rgba(255, 0, 111, 0.8) , rgba(247, 2, 43, 0.8)) !important;
    color: #fff !important;
}
.fa-eye{
    color: #022255;
    cursor: pointer;
}
.ex-account p a{
    color: #f6086e;
    text-decoration: underline;
}
.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}

#invalidid{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    font-family: bitter;
    color: crimson;
    display: none;
}




.loader{
    border: 2rem solid #ffffff; 
    border-top: 2rem solid orange; 
    border-left: 2rem solid orange; 
    border-right: 2rem solid orange; 
    border-radius: 50%;
    width: 170px;
    height: 170px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loader{
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
  }


















